<div class="main-cont">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a
        class="nav-link"
        nz-button
        nz-popover
        [nzPopoverContent]="contentTemplate"
        nzPopoverPlacement="bottom"
      >
        Products
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" >Offers</a>
    </li>
    <li class="nav-item">
      <!-- [nzPopoverVisible]="true" -->
      <a
        class="nav-link active"
        nz-button
        
        nz-popover
        [nzPopoverContent]="contentTemplate"
        nzPopoverPlacement="bottom"
      >
        Brands
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link">New Articles</a>
    </li>
  </ul>
  <ng-template #contentTemplate>
    <div class="d-flex">
      <ul class="navbar-nav m-3">
        <li><a href="" class="nav-link active">Boots</a></li>
        <hr />
        <li 
          *ngFor="let category of categories"
          (click)="nav(category.name)"
          
          class="d-flex align-items-center"
        >
          <a class="nav-link">{{ category.name }}</a>
       
          <span
          appAdmin
            nz-icon
            nzType="close"
            nzTheme="outline"
            class="text-danger fs-5"
            (click)="onDelete(category.id)"
            style="cursor: pointer"
          ></span>
        </li>
      </ul>
      <ul>
        <button class="btn btn-primary" routerLink="createCategory" appAdmin>
          Add category
        </button>
      </ul>
    </div>
  </ng-template>
</div>
