.nav-link {
  color: #6ba342;
}
.nav-link:hover {
  color: black !important;
}
.main-cont {
  background-color: #6ba342;
}

.justify-content-center {
  a {
    color: white;
  }
  a:hover {
    color: black;
  }
}
