<div class="main-cont">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a
        class="nav-link"
        nz-button
        nz-popover
        [nzPopoverContent]="contentTemplate"
        nzPopoverPlacement="bottom"
      >
        Products
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Offers</a>
    </li>
    <li class="nav-item">
      <!-- [nzPopoverVisible]="true" -->
      <a
        class="nav-link active"
        nz-button
        
        nz-popover
        [nzPopoverContent]="contentTemplate"
        nzPopoverPlacement="bottom"
      >
        Brands
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link">New Articles</a>
    </li>
  </ul>
  <ng-template #contentTemplate>
    <div class="d-flex">
      <ul class="navbar-nav m-3">
        <li><a href="" class="nav-link active">Boots</a></li>
        <hr />
        <li 
          *ngFor="let category of categories"
          (click)="nav(category.name)"
          class="d-flex align-items-center"
        >
          <a class="nav-link">{{ category.name }}</a>
       
          <span
            nz-icon
            nzType="close"
            nzTheme="outline"
            class="text-danger fs-5"
            (click)="onDelete(category.id)"
            style="cursor: pointer"
          ></span>
        </li>
      </ul>
      <ul class="navbar-nav m-3">
        <li><a href="" class="nav-link active">Kidswear</a></li>
        <hr />
        <li><a href="" class="nav-link">Kidswear</a></li>
        <li><a href="" class="nav-link">Kids Work Clothing</a></li>
        <li><a href="" class="nav-link">Kids Boiler Suits</a></li>
        <li><a href="" class="nav-link">Kids Coveralls</a></li>
        <li><a href="" class="nav-link">Kids Hi-Vis Clothing</a></li>
        <li><a href="" class="nav-link">Kids Waterproofs</a></li>
        <li><a href="" class="nav-link">Kids Wellies</a></li>
        <li><a href="" class="nav-link">Kids Work Trousers</a></li>
      </ul>

      <ul class="navbar-nav m-3">
        <li><a href="" class="nav-link active">WELLIES</a></li>
        <hr />
        <li><a href="" class="nav-link">Wellies</a></li>
        <li><a href="" class="nav-link">Non-Safety Wellies</a></li>

        <li>
          <a href="" class="nav-link">Safety Wellies Swampmaster</a>
        </li>
        <li><a href="" class="nav-link">Wellington Accessories</a></li>
      </ul>
      <ul class="navbar-nav m-3">
        <li><a href="" class="nav-link active">Boots</a></li>
        <hr />
        <li><a href="" class="nav-link">Dealer Boots</a></li>
        <li><a href="" class="nav-link">Safety Boots</a></li>
        <li><a href="" class="nav-link">Non-Safety Boots</a></li>
        <li><a href="" class="nav-link">Laced Boots</a></li>
        <li><a href="" class="nav-link">Safety Trainers</a></li>
        <li><a href="" class="nav-link">Kids Boots</a></li>
        <li><a href="" class="nav-link">Kids Boots</a></li>
      </ul>
      <ul class="navbar-nav m-3">
        <li><a href="" class="nav-link active">Boots</a></li>
        <hr />
        <li><a href="" class="nav-link">Dealer Boots</a></li>
        <li><a href="" class="nav-link">Safety Boots</a></li>
        <li><a href="" class="nav-link">Non-Safety Boots</a></li>
        <li><a href="" class="nav-link">Laced Boots</a></li>
        <li><a href="" class="nav-link">Safety Trainers</a></li>
        <li><a href="" class="nav-link">Kids Boots</a></li>
        <li><a href="" class="nav-link">Kids Boots</a></li>
      </ul>
      <ul class="navbar-nav m-3">
        <li><a href="" class="nav-link">Boots</a></li>
        <hr />
        <li class="">
          <a href="" class="nav-link" class="nav-link">Dealer Boots</a>
        </li>
        <li><a href="" class="nav-link">Safety Boots</a></li>
        <li><a href="" class="nav-link">Non-Safety Boots</a></li>
        <li><a href="" class="nav-link">Laced Boots</a></li>
        <li><a href="" class="nav-link">Safety Trainers</a></li>
        <li><a href="" class="nav-link">Kids Boots</a></li>
        <li><a href="" class="nav-link">Kids Boots</a></li>
        <button class="btn btn-primary" routerLink="createCategory">
          Add category
        </button>
      </ul>
    </div>
  </ng-template>
</div>
