.ant-tabs-nav-wrap {
  justify-content: center;
}

.ant-layout,
.ant-layout * {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
user agent stylesheet div {
  display: block;
}

