<nz-tabset
  class="justify-content-center mt-5 w-25 m-auto text-start"
  [nzSelectedIndex]="changeTab"
>
  <nz-tab nzTitle="Log In"
    ><div>
      <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >Email address</label
          >
          <input
            type="email"
            class="form-control"
            formControlName="email"
            name="email"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
          />
          <div id="emailHelp" class="form-text">
            We'll never share your email with anyone else.
          </div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input
            type="password"
            formControlName="password"
            name="password"
            class="form-control"
            id="exampleInputPassword1"
          />
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div></nz-tab
  >
  <nz-tab nzTitle="Sign up"
    ><div class="container">
      <form [formGroup]="registerform" (ngSubmit)="registerUser()">
        <div class="row">
          <div class="mb-3 col-md-6">
            <label for="exampleInputEmail1" class="form-label"
              >First Name</label
            >
            <input
              type="text"
              name="name"
              formControlName="firstName"
              class="form-control"
              id="exampleInputEmail1"
            />
          </div>
          <div class="mb-3 col-md-6">
            <label for="exampleInputEmail1" class="form-label">Last Name</label>
            <input
              type="text"
              class="form-control"
              id="exampleInputEmail1"
              name="lastName"
              formControlName="lastName"
            />
          </div>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            formControlName="email"
            name="email"
            aria-describedby="emailHelp"
          />
          <div id="emailHelp" class="form-text">
            We'll never share your email with anyone else.
          </div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            name="password"
            formControlName="password"
            id="exampleInputPassword1"
          />
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div></nz-tab
  >
</nz-tabset>
