.ant-tabs-nav-wrap {
  justify-content: center;
}

.ant-layout,
.ant-layout * {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
user agent stylesheet div {
  display: block;
}

@media screen and (max-width:600px) {
  .main-cont{
    width: 400px !important;
   text-align:start;
   margin: 50px;
  }
  input{
    width: 300px;
    
  };
}