<div class="container d-flex gap-4 align-items-center justify-content-center">
  <div *ngIf="background">
    <img src="{{ background }}" alt="image" class="rounded-4" width="500px" />
  </div>
  <form
    class="text-start text-dark"
    [formGroup]="addProduct"
    (ngSubmit)="postProduct()"
  >
    <div class="row">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Name</label>
        <input
          type="text"
          name="name"
          formControlName="name"
          class="form-control"
          id="name"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Image</label>
        <input
          type="text"
          class="form-control"
          id="image"
          name="image"
          formControlName="image"
          [(ngModel)]="background"
        />
      </div>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Price</label>
      <input
        type="number"
        class="form-control"
        formControlName="price"
        id="price"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="mb-3">
      <label for="Description" class="form-label">Category</label>
      <nz-select
        nzShowSearch
        nzAllowClear
        class="w-100"
        nzPlaceHolder="Select category"
        formControlName="category"
        *ngIf="categories"
      >
        <nz-option
        class="rounded-2 p-2"
          *ngFor="let category of categories"
          nzLabel="{{ category.name }}"
          nzValue="{{ category.name }}"
        ></nz-option>
      </nz-select>

      <div class="mb-3">
        <label for="Description" class="form-label">Description</label>
        <input
          type="text"
          class="form-control"
          id="Description"
          formControlName="description"
        />
      </div>

      <button type="submit" class="btn btn-primary">Add Product</button>
    </div>
  </form>
</div>
