.d-flex {
  strong {
    color: #6ba342;
    font-weight: 700;
    font-family: Roboto, sans-serif;
  }

  p {
    color: black;
  }
}

.media-quary {
  height: 550px;
}
.carousel-img {
  max-inline-size: 100%;
  block-size: auto;
  width: 100%;
  object-fit: cover;
}


@media screen and (max-width: 600px) {
  .media-quary {
    height: 500px !important;
  }
  .carousel-img {
    max-inline-size: 100%;
    block-size: auto;
    aspect-ratio: 2/2;
    object-fit: cover;
  }
}
