<div class="row row-cols-1 row-cols-md-5 w-100 text-start p-2">
  <swiper-container
    slides-per-view="3"
    class="w-75"
    rewind="true"
   
    pagination="true"
  >
    <div class=" m-4 w-25 bg-primary m-auto p-5 rounded-2 bg-dark">
      
      <button
        type="button"
        class="btn btn-primary btn-lg  rounded-circle"
        routerLink="createProduct"
      >
        <h1>+</h1>
      </button>
    </div>
    <swiper-slide
      *ngFor="let product of productss"
      aria-controls="swiper-wrapper-105267bf3ead58ec2"
    >
      <app-product-card [product]="product"></app-product-card>
    </swiper-slide>
  </swiper-container>
</div>
