


.ant-skeleton-element .ant-skeleton-image {
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    background: rgba(190, 190, 190, 0.2);
    width: 96mm !important;
    height: 96px;
    line-height: 96px;
}