<div class="w-100">
  <div class="bg-image main-cont">
    <div >
      <div class="column large-8 large-push-2 farm-text">
        <h2 class="pt-5">
          Helping british farmers <br />
          fight the fight
        </h2>
        <p class="lead">
          Top brands. Great prices. Unrivalled product expertise.
        </p>
        <p>
          Farm Bros is the UK’s favourite farm clothing, footwear, and
          agricultural workwear store.<br />
          Feel free to
          <strong><a style="color: #6ba342">get-in-touch</a></strong
          >, or ask a question, we’d love to hear from you.
        </p>
        <div class="m-5">
          <a class="button simple">More about the bros</a>
        </div>
      </div>
    </div>
  </div>
</div>
