<div class="p-2 bg-white main-cont w-100 ">
  <div class="d-flex text-start gap-3 align-items-center  m-auto flex-wrap ">
    <div class="m-auto">
      <article>
        <a
          href="https://www.farmbros.co.uk/blog/let-us-know"
          class="image-container margin-bottom"
          ><img
            src="//cdn.ecommercedns.uk/files/9/232819/6/12104216/farm-bros-let-us-know.jpg"
            data-src="//cdn.ecommercedns.uk/files/9/232819/6/12104216/farm-bros-let-us-know.jpg"
            alt="If we're not stocking what you need, please let us know!"
            class="blog-post-image lazy"
            style="
              opacity: 1;
              width: 379px;
              height: 240.762px;
              max-width: none;
              left: -18px;
              top: 0px;
            "
        /></a>
        <p>If we're not stocking what you need, please let us know!</p>
        <a href="https://www.farmbros.co.uk/blog/let-us-know" class="post-link">
          More
        </a>
      </article>
    </div>
    <div class="column margin-bottom ">
      <article class="post-box">
        <a
          href="https://www.farmbros.co.uk/blog/now-stocking-the-swampmaster-no-sweat-range"
          class="image-container margin-bottom"
          ><img
            src="//cdn.ecommercedns.uk/files/9/232819/8/9449948/farm-bros-blog-image-swampmaster-no-sweat.jpg"
            data-src="//cdn.ecommercedns.uk/files/9/232819/8/9449948/farm-bros-blog-image-swampmaster-no-sweat.jpg"
            alt="NOW STOCKING the Swampmaster 'No-Sweat' Waterproof range!"
            class="blog-post-image lazy"
            style="
              opacity: 1;
              width: 379px;
              height: 240.762px;
              max-width: none;
              left: -18px;
              top: 0px;
            "
        /></a>
        <p>NOW STOCKING the Swampmaster 'No-Sweat' Waterproof range!</p>
        <a
          href="https://www.farmbros.co.uk/blog/now-stocking-the-swampmaster-no-sweat-range"
          class="post-link"
        >
          More
          <i class="sw-icon-right-arrow" aria-hidden="true"></i
        ></a>
      </article>
    </div>

    <div class="inner-section m-auto text-start w-25 mt-4 res-cont">
      <h2>Message our team</h2>
      <form
        action="https://www.farmbros.co.uk/"
        method="post"
        class="form "
        novalidate="novalidate"
      >
        <div>
          <label class="w-100"
            ><input
              type="text"
              name="name"
              class="w-100 p-2 m-2"
              placeholder="Your Name"
          /></label>
        </div>
        <div>
          <label class="w-100"
            ><input
              type="email"
              name="email_address"
              class="w-100 p-2 m-2"
              placeholder="Email address"
          /></label>
        </div>
        <div>
          <label class="w-100"
            ><input
              type="text"
              name="phone_number"
              class="w-100 p-2 m-2"
              placeholder="Phone number"
          /></label>
        </div>
        <div>
          <label class="w-100">
            <textarea
              name="message"
              class="w-100 p-2 m-2"
              placeholder="How can we help?"
            ></textarea>
          </label>
          <p>
            Send us a quick message and we’ll get back to you as soon as we can.
            We aim to reply to all enquiries within one working day.
          </p>
          <div>
            <button type="submit" class="button simple no-margin">
              Submit
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
