/* You can add global styles to this file, and also import other style files */
@import url('./assets/css/bootstrap.css');

.ant-skeleton-element .ant-skeleton-image {
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    background: rgba(190, 190, 190, 0.2);
    width: 200px !important;
    height: 200px;
    margin: auto !important;
}